#h1{
    color:red;
}
.head{
    display:flex;
    justify-content: space-between;
    border:1px solid black;
    margin:10px;
}
.logo{
    padding:10px 30px;
}
.logo-img{
    width:100px;
}

.nav-links ul{
    display: flex;
    /* margin:0 40px; */
    padding:30px 50px;
    justify-content: space-around;
    align-items: center;

}
.nav-links ul li{
    margin:0 30px;
    /* align-items: center; */
    list-style-type: none;
    font-size:20px;
    
}
/* search */
.search{
    margin:20px;
}

/* card */
.res-card-container{
    display:flex;
    flex-wrap: wrap;
}
.card{
    width:193px;
    height:350px;
    /* border: 1px solid black; */
    padding:5px;
    margin:5px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    /* line-height: 0.7; */
}


.card:hover{
    border:1px solid black;

}
.card-img{
    width:100%;
    border-radius: 10px;
    height:150px
}